@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background-filter::after {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  content: "";
  display: block;
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}

.background {
  background-image: url('https://dashrathgelot.github.io/latan-price/bg9.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.main {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
  height: 100vh; 
  font-family: sans-serif;
  position: relative;
  z-index: 1;
}

.title {
  font-family: var(--font-tangerine);
  font-weight: bold;
}

.para {
  font-family: var(--font-source-serif-4);
  font-style: italic;
  font-weight: 500;
}

.satisfy {
  font-family: var(--font-satisfy);
  font-weight: 400;
}

.modal-backdrop {
  background: rgb(43, 43, 43, 0.4);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: fixed;
}

.modal-container {
  width: 28rem;
  height: 28rem;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  position: relative;
}

.modal-container p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.close div {
  position: absolute;
  height: 1.5rem;
  width: 3px;
  background: rgb(120, 53, 15, 1);
  border-radius: 10px;
  right: 50%;
  left: 50%;
}

.close div:first-child {
  transform: rotate(45deg);
}

.close div:last-child {
  transform: rotate(-45deg);
}

.curved-edge {
  background: radial-gradient(ellipse 70% 50% at 50% -20px, rgba(255, 255, 255, 0) 49.5px, rgba(223, 211, 196, 0.8) 50.5px);
}